/* Основной стиль для страницы */
body {
    margin: 20px 0px 0px 0px;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    height: 200px;
    box-sizing: border-box;
    width: 450px;
}

/* Заголовок */
h2 {
    margin: 0 0 10px;
    font-size: 18px;
    text-align: center;
}

/* Информация о пользователе */
#user {
    font-size: 14px;
    text-align: left;
    width: 100%;
}

#user span {
    font-weight: bold;
    color: #00e676;
}

/* Ссылка "Выход" */
#logout {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    color: #ff5252;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

/* Контейнер */
.container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px; /* Увеличенная фиксированная ширина */
}

/* Кнопка */
button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(45deg, #6200ee, #3700b3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px 0;
}

button:hover {
    background: linear-gradient(45deg, #3700b3, #6200ee);
}

/* Лоадер */
#loader {
    width: 40px;
    display: none;
    margin: 10px auto;
}

/* Статус */
#status_mess {
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    color: #ffeb3b;
    text-align: center;
}